<div x-show="searchModal" @click.outside="searchModal = false" x-data="{ searchModal: false }" x-show="searchModal" @toggle-search.window="searchModal = !searchModal" class="bg-black/50 fixed top-0 left-0  right-0 x-10 w-full h-full flex justify-center  z-50" x-transition>

  <!--Dialog-->
  <div @click.outside="searchModal=false" class="w-full md:w-1/2 p-5">
    <predictive-search>
      <form action="{{ routes.search_url }}" method="get" role="search" class="mt-5">

        <input id="Search" type="search" class="border rounded-full bg-white py-3 px-5 w-full outline-none focus:outline-none border-gray-500 focus:border-gray-800" placeholder="Search..." name="q" value="{{ search.terms | escape }}" role="combobox" aria-expanded="false" aria-owns="predictive-search-results-list" aria-controls="predictive-search-results-list" aria-haspopup="listbox" aria-autocomplete="list" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false"><input name="options[prefix]" type="hidden" value="last">

        <div id="predictive-search" tabindex="-1"></div>

      </form>
    </predictive-search>
  </div>

</div>