<h1>Waqas Thmee</h1>
        <h1 class="text-xl font-bold truncate">{{ shop.name }}</h1>

 {% schema %}
    {
      "name": "Header",
      "settings": [
        {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "t:sections.header.settings.menu.label"
        }
      ]
}
  {% endschema %}
