<h1>Sero Section</h1>



{%- schema -%}
  {
    "name": "Hero Section",
    "settings": [
      {
        "type": "color",
        "id": "custom_bg_color",
        "label": "Section Background Color",
        "default": "#fff"
      }
    ],
    "presets": [
      {
        "name": "Hero Section"
      }
    ]
  }
{%- endschema -%}
