<h1>Image Banner</h1>
{% schema %}
  {
    "name": "Image Banner",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background Color",
        "default": "#fff"
      }

    ],
    "presets": [
      {
        "name": "Image Banner",
      }
    ]
  }
{% endschema %}
